{% extends 'layout.html.twig' %}


{% block main %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Ventes</h1>
        <p class="mb-4">Vous trouverez dans cette page la liste des ventes.</p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Liste des Ventes</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>N° Opération</th>
                            <th>N° Facture</th>
                            <th>Nom du client</th>
                            <th>Contact</th>
                            <th>Adresse</th>
                            <th>Date</th>
                            <th>Libellé</th>
                            <th>Code Article</th>
                            <th>Quantité</th>
                            <th>Unité</th>
                            <th>PU</th>
                            <th>Montant Brut</th>
                            <th>Montant Net</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>N° Opération</th>
                            <th>N° Facture</th>
                            <th>Nom du client</th>
                            <th>Contact</th>
                            <th>Adresse</th>
                            <th>Date</th>
                            <th>Libellé</th>
                            <th>Code Article</th>
                            <th>Quantité</th>
                            <th>Unité</th>
                            <th>PU</th>
                            <th>Montant Brut</th>
                            <th>Montant Net</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        <tr>
                            <td>001 (Automatique)</td>
                            <td>F-001 (Automatique)</td>
                            <td>RAKOTO</td>
                            <td>032 85 018 18</td>
                            <td>Lot 123 B</td>
                            <td>01/01/2020 (Manuel)</td>
                            <td>Achat MP (Manuel)</td>
                            <td>Art 001 / 005</td>
                            <td>20 (Manuel)</td>
                            <td>kg (Manuel)</td>
                            <td>1.200 (Manuel)</td>
                            <td>24.000 (= Q*PU)</td>
                            <td>28.800 [= Q*PU + Q*PU*0.2 ]</td>
                        </tr>
                        <tr>
                            <td>002 (Automatique)</td>
                            <td>F-002 (Automatique)</td>
                            <td>RANDRIA</td>
                            <td>033 85 018 18</td>
                            <td>Lot 123 C</td>
                            <td>02/01/2020 (Manuel)</td>
                            <td>Achat MP (Manuel)</td>
                            <td>Art 001 / 006</td>
                            <td>30 (Manuel)</td>
                            <td>kg (Manuel)</td>
                            <td>1.000 (Manuel)</td>
                            <td>30.000 (= Q*PU)</td>
                            <td>36.000 [= Q*PU + Q*PU*0.2 ]</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <a href="comptabilite_vente_facturation.html" class="btn btn-success btn-icon-split">
            <span class="icon text-white-50">
            <i class="fas fa-plus-circle"></i>
            </span>
            <span class="text">Ajouter une vente</span>
        </a>
        <a href="#" class="btn btn-danger btn-icon-split">
            <span class="icon text-white-50">
               <i class="fas fa-trash"></i>
             </span>
            <span class="text">Supprimer une opération</span>
        </a>
    </div>
    <!-- /.container-fluid -->

{% endblock %}

