{% extends 'layout.html.twig' %}

{% block main %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Référentiel</h1>
        <p class="mb-4">Vous trouverez dans cette page le référentiel des articles</p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Référentiel des artciles</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>N° Opération</th>
                            <th>Code Article</th>
                            <th>Fournisseur</th>
                            <th>Contact</th>
                            <th>Date</th>
                            <th>Libellé</th>
                            <th>Quantité</th>
                            <th>Unité</th>
                            <th>PU d'Achat</th>
                            <th>PU de Vente</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>N° Opération</th>
                            <th>Code Article</th>
                            <th>Fournisseur</th>
                            <th>Contact</th>
                            <th>Date</th>
                            <th>Libellé</th>
                            <th>Quantité</th>
                            <th>Unité</th>
                            <th>PU d'Achat</th>
                            <th>PU de Vente</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        <tr>
                            <td>001 (Automatique)</td>
                            <td>A-001</td>
                            <td>STAR</td>
                            <td>032 85 018 18</td>
                            <td>01/01/2020 (Manuel)</td>
                            <td>Achat Boissons (Manuel)</td>
                            <td>20 (Manuel)</td>
                            <td>U (Manuel)</td>
                            <td>2.000 (Manuel)</td>
                            <td>3.000 (Manuel)</td>
                        </tr>
                        <tr>
                            <td>002 (Automatique)</td>
                            <td>A-002</td>
                            <td>SOCOBIS</td>
                            <td>032 85 018 18</td>
                            <td>01/01/2020 (Manuel)</td>
                            <td>Achat biscuits (Manuel)</td>
                            <td>30 (Manuel)</td>
                            <td>U (Manuel)</td>
                            <td>1.000 (Manuel)</td>
                            <td>2.000 (Manuel)</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <a href="inventaire_referentiel_creer.html" class="btn btn-success btn-icon-split">
            <span class="icon text-white-50">
            <i class="fas fa-plus-circle"></i>
            </span>
            <span class="text">Référencer un article</span>
        </a>
        <a href="#" class="btn btn-danger btn-icon-split">
            <span class="icon text-white-50">
               <i class="fas fa-trash"></i>
             </span>
            <span class="text">Supprimer un article</span>
        </a>
        <a href="inventaire_stock.html" class="btn btn-secondary btn-icon-split">
            <span class="icon text-white-50">
              <i class="fas fa-arrow-right"></i>
            </span>
            <span class="text">Retourner à l'inventaire de stock</span>
        </a>
    </div>
    <!-- /.container-fluid -->

{% endblock %}