{% extends 'layout.html.twig' %}

{% block main %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Stock</h1>
        <p class="mb-4">Vous trouverez dans cette page la liste des articles disponibles dans votre stock.</p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Liste des artciles disponibles</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>N° Opération</th>
                            <th>Code Article</th>
                            <th>Nom de l'article</th>
                            <th>Fournisseur</th>
                            <th>Date</th>
                            <th>Libellé</th>
                            <th>Quantité disponible</th>
                            <th>Unité</th>
                            <th>PU d'Achat</th>
                            <th>PU de Vente</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>N° Opération</th>
                            <th>Code Article</th>
                            <th>Nom de l'article</th>
                            <th>Fournisseur</th>
                            <th>Date</th>
                            <th>Notes</th>
                            <th>Quantité disponible</th>
                            <th>Unité</th>
                            <th>PU d'Achat</th>
                            <th>PU de Vente</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        <tr>
                            <td>001 (Automatique)</td>
                            <td>A-001 (Manuel)</td>
                            <td>CocaCola 50cl</td>
                            <td>STAR</td>
                            <td>01/01/2020 (Manuel)</td>
                            <td>(Pas obligatoire))</td>
                            <td>20 (Manuel)</td>
                            <td>U (Manuel)</td>
                            <td>2.000 (Manuel)</td>
                            <td>3.000 (Manuel)</td>
                        </tr>
                        <tr>
                            <td>002 (Automatique)</td>
                            <td>A-002 (Manuel)</td>
                            <td>Soda 50cl</td>
                            <td>STAR</td>
                            <td>01/01/2020 (Manuel)</td>
                            <td>(Pas obligatoire))</td>
                            <td>20 (Manuel)</td>
                            <td>U (Manuel)</td>
                            <td>2.000 (Manuel)</td>
                            <td>3.000 (Manuel)</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <a href="inventaire_stock_creer.html" class="btn btn-success btn-icon-split">
            <span class="icon text-white-50">
            <i class="fas fa-plus-circle"></i>
            </span>
            <span class="text">Ajouter un article</span>
        </a>
        <a href="#" class="btn btn-danger btn-icon-split">
            <span class="icon text-white-50">
               <i class="fas fa-trash"></i>
             </span>
            <span class="text">Supprimer un article</span>
        </a>
        <a href="inventaire_referentiel.html" class="btn btn-info btn-icon-split">
            <span class="icon text-white-50">
              <i class="fas fa-info-circle"></i>
            </span>
            <span class="text">Voir le référentiel des articles</span>
        </a>
    </div>
    <!-- /.container-fluid -->

{% endblock %}