<form method="post" action="{{ path('operation_banque_delete', {'id': operation_banque.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ operation_banque.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
