{% extends 'base.html.twig' %}

{% block title %}Edit OperationBanque{% endblock %}

{% block body %}
    <h1>Edit OperationBanque</h1>

    {{ include('operation_banque/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('operation_banque_index') }}">back to list</a>

    {{ include('operation_banque/_delete_form.html.twig') }}
{% endblock %}
