{% extends 'layout.html.twig' %}

{% block title %}OperationBanque index{% endblock %}

{% block main %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Banque</h1>
        <p class="mb-4">Vous trouverez dans cette page la liste des opérations bancaires.</p>
        <!-- Content Row -->
        <div class="row">


            <!-- Entrée -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Total Entrée</div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">Ar {{ totalEntree[0]["totalEntree"] }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-arrow-circle-up fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Sortie -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Total Sortie</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">Ar {{ totalSortie[0]["totalSortie"] }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-arrow-circle-down fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Content Row -->

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Liste des opérations bancaires</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>N° Opération</th>
                            <th>Type d'opération</th>
                            <th>Date</th>
                            <th>N° Facture</th>
                            <th>Libellé</th>
                            <th>Montant</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for operation_banque in operation_banques %}
                        <tr>
                            <td>{{ operation_banque.id }}</td>
                            <td>{{ operation_banque.operationBanqueType }}</td>
                            <td>{{ operation_banque.operationBanqueDate }}</td>
                            <td>{{ operation_banque.operationBanqueNumFacture }}</td>
                            <td>{{ operation_banque.operationBanqueLibelle }}</td>
                            <td>{{ operation_banque.operationBanqueMontant }}</td>
                            <td><a href="{{ path('operation_banque_delete', {'id': operation_banque.id}) }}" class="fas fa-trash"></a></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <a href="{{ path('operation_banque_new') }}" class="btn btn-success btn-icon-split">
            <span class="icon text-white-50">
            <i class="fas fa-plus-circle"></i>
            </span>
            <span class="text">Ajouter une opération</span>
        </a>
    </div>
    <!-- /.container-fluid -->

{% endblock %}
