{% extends 'base.html.twig' %}

{% block title %}OperationBanque{% endblock %}

{% block body %}

    <div class="row bod">
        <div class="col-md-2"></div>
        <div class="col-md-8 cadre">
            <h1><center>OperationBanque</center></h1>

            <table class="table">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ operation_banque.id }}</td>
                </tr>
                <tr>
                    <th>N° Operation</th>
                    <td>{{ operation_banque.operationBanqueNum }}</td>
                </tr>
                <tr>
                    <th>Type d'Operation</th>
                    <td>{{ operation_banque.operationBanqueType ? 'Yes' : 'No' }}</td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>{{ operation_banque.operationBanqueDate ? operation_banque.operationBanqueDate}}</td>
                </tr>
                <tr>
                    <th>N° Facture</th>
                    <td>{{ operation_banque.operationBanqueNumFacture }}</td>
                </tr>
                <tr>
                    <th>Libelle</th>
                    <td>{{ operation_banque.operationBanqueLibelle }}</td>
                </tr>
                <tr>
                    <th>OperationBanqueMontant</th>
                    <td>{{ operation_banque.operationBanqueMontant }}</td>
                </tr>
                </tbody>
            </table>


            <a href="{{ path('operation_banque_index') }}" class="bnt btn-success btn-lg">back to list</a><br><br>


            {{ include('operation_banque/_delete_form.html.twig') }}

        </div>
        <div class="col-md-2"></div>
    </div>





{% endblock %}
