.bod{
    background-color: #2e59d9;
    padding-top: 100px;
    padding-bottom: 100px;
}

.cadre{
    background-color: white;
    border-radius: 10px;
}

.title{
    padding-top: 20px;
}

.annuler{
    margin-left: 80px;
}

.soumettre{
    margin-left: 30px;
}