<!-- Footer -->
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <footer id="footer" role="contentinfo">
                <a href="#" class="gotop js-gotop"><i class="icon-arrow-up2"></i></a>
                <P>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved <br>| Made with passion by <a href="" target="_blank">www.devinbox.com</a></P>
            </footer>
        </div>
    </div>
<!-- End of Footer -->
