<!-- Sidebar - Brand -->
<a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon">
        <i class="fa fa-qrcode"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Devinbox</div>
</a>

<!-- Divider -->
<hr class="sidebar-divider my-0">

<!-- Nav Item - Dashboard -->
<li class="nav-item active">
    <a class="nav-link" href="{{ path('home') }}">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Tableau de bord</span></a>
</li>

<!-- Divider -->
<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">
    CAISSE
</div>

<!-- Nav Item - Tables -->
<li class="nav-item">
    <a class="nav-link" href="{{ path('caisse_index') }}">
        <i class="fas fa-fw fa-wallet"></i>
        <span>Gestion de la caisse</span></a>
</li>

<!-- Nav Item - Tables -->
<li class="nav-item">
    <a class="nav-link" href="{{ path('caisse_new') }}">
        <i class="fas fa-fw fa-plus-circle"></i>
        <span>Ajouter une opération</span></a>
</li>

<!-- Divider -->
<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">
    RECETTE
</div>

<!-- Nav Item - Tables -->
<li class="nav-item">
    <a class="nav-link" href="{{ path('recette') }}">
        <i class="fas fa-fw fa-store-alt"></i>
        <span>Gestion des ventes</span></a>
</li>

<!-- Nav Item - Tables -->
<li class="nav-item">
    <a class="nav-link" href="{{path('facturation')}}">
        <i class="fas fa-fw fa-plus-circle"></i>
        <span>Facturation</span></a>
</li>

<!-- Divider -->
<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">
    CHARGE
</div>

<!-- Nav Item - Tables -->
<li class="nav-item">
    <a class="nav-link" href="{{ path('charge_index') }}">
        <i class="fas fa-fw fa-minus-circle"></i>
        <span>Gestion des charges</span></a>
</li>

<!-- Nav Item - Tables -->
<li class="nav-item">
    <a class="nav-link" href="{{ path('charge_new') }}">
        <i class="fas fa-fw fa-plus-circle"></i>
        <span>Ajouter une charge</span></a>
</li>

<!-- Divider -->
<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">
    INVENTAIRE
</div>

<!-- Nav Item - Tables -->
<li class="nav-item">
    <a class="nav-link" href="{{ path('stock') }}">
        <i class="fas fa-fw fa-list"></i>
        <span>Stock</span></a>
</li>

<!-- Nav Item - Tables -->
<li class="nav-item">
    <a class="nav-link" href="{{ path('referentiel') }}">
        <i class="fas fa-fw fa-list-alt"></i>
        <span>Référentiel</span></a>
</li>

<!-- Nav Item - Tables -->
<li class="nav-item">
    <a class="nav-link" href="{{path('ajout_article')}}">
        <i class="fas fa-fw fa-plus-circle"></i>
        <span>Ajouter un article</span></a>
</li>

<!-- Divider -->
<hr class="sidebar-divider d-none d-md-block">

<!-- Heading -->
<div class="sidebar-heading">
    BANQUE
</div>

<!-- Nav Item - Tables -->
<li class="nav-item">
    <a class="nav-link" href="{{ path('operation_banque_index') }}">
        <i class="fas fa-fw fa-money-bill"></i>
        <span>Mouvements bancaires</span></a>
</li>

<!-- Nav Item - Tables -->
<li class="nav-item">
    <a class="nav-link" href="{{ path('operation_banque_new') }}">
        <i class="fas fa-fw fa-plus-circle"></i>
        <span>Ajouter une opération</span></a>
</li>


<!-- Divider -->
<hr class="sidebar-divider">


<!-- Sidebar Toggler (Sidebar) -->
<div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
</div>
