
<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
    <div class="wrapper wrapper--w680">
        <div class="card card-4">
            <div class="card-body">
                <h2 class="title">Remplir le formulaire pour ajouter une opération de caisse</h2>

                {{ form_start(form) }}
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">N° Opération</label>
                                {{ form_widget(form.caisseNumOperation) }}
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Type d'opération</label>
                                {{ form_widget(form.caisseTypeOperation) }}
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Date</label>
                                <div class="input-group-icon">
                                    {{ form_widget(form.caisseDate) }}
                                    <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                </div>
                            </div>
                        </div>

                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">N° Facture</label>
                                {{ form_widget(form.caisseNumFacture) }}
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Libellé</label>
                                {{ form_widget(form.caisseLibelle) }}
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Montant</label>
                                {{ form_widget(form.caisseMontant) }}
                            </div>
                        </div>
                    </div>
                    <div class="p-t-15">
                        <button class="btn btn--radius-2 btn--green">{{ button_label|default('Soumettre') }}</button>
                        <button class="btn btn--radius-2 btn--red"><a href="{{ path('home') }}" style="text-decoration: none; color: white;">Annuler</a></button>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>


