{% extends 'base.html.twig' %}

{% block title %}Caisse index{% endblock %}

{% block body %}
    <h1>Caisse index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CaisseNumOperation</th>
                <th>CaisseTypeOperation</th>
                <th>CaisseDate</th>
                <th>CaisseNumFacture</th>
                <th>CaisseLibelle</th>
                <th>CaisseMontant</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for caisse in caisses %}
            <tr>
                <td>{{ caisse.id }}</td>
                <td>{{ caisse.caisseNumOperation }}</td>
                <td>{{ caisse.caisseTypeOperation ? 'Yes' : 'No' }}</td>
                <td>{{ caisse.caisseDate ? caisse.caisseDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ caisse.caisseNumFacture }}</td>
                <td>{{ caisse.caisseLibelle }}</td>
                <td>{{ caisse.caisseMontant }}</td>
                <td>
                    <a href="{{ path('caisse_show', {'id': caisse.id}) }}">show</a>
                    <a href="{{ path('caisse_edit', {'id': caisse.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('caisse_new') }}">Create new</a>
{% endblock %}
