<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon/favicon.ico">
    <!-- Title Page-->
    <title>Formulaire - Caisse</title>

    <!-- Icons font CSS-->
    <link href="/assets/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="/assets/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->


    <!-- Vendor CSS-->
    <link href="/assets/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="/assets/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="/assets/css/main.css" rel="stylesheet" media="all">
</head>

<body>


    {{ include('caisse/_form.html.twig') }}

<!-- Jquery JS-->
<script src="/assets/vendor/jquery/jquery.min.js"></script>
<!-- Vendor JS-->
<script src="/assets/vendor/select2/select2.min.js"></script>
<script src="/assets/vendor/datepicker/moment.min.js"></script>
<script src="/assets/vendor/datepicker/daterangepicker.js"></script>

<!-- Main JS-->
<script src="/assets/js/global.js"></script>

</body>

</html>

