{% extends 'base.html.twig' %}

{% block title %}Caisse{% endblock %}

{% block body %}

    <div class="row bod">
        <div class="col-md-2"></div>
        <div class="col-md-8 cadre">
            <h1><center>Caisse</center></h1>

            <table class="table">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ caisse.id }}</td>
                </tr>
                <tr>
                    <th>N° Operation</th>
                    <td>{{ caisse.caisseNumOperation }}</td>
                </tr>
                <tr>
                    <th>Type d'Operation</th>
                    <td>{{ caisse.caisseTypeOperation ? 'Yes' : 'No' }}</td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>{{ caisse.caisseDate ? caisse.caisseDate: '' }}</td>
                </tr>
                <tr>
                    <th>Facture</th>
                    <td>{{ caisse.caisseNumFacture }}</td>
                </tr>
                <tr>
                    <th>Libelle</th>
                    <td>{{ caisse.caisseLibelle }}</td>
                </tr>
                <tr>
                    <th>Montant</th>
                    <td>{{ caisse.caisseMontant }}</td>
                </tr>
                </tbody>
            </table>

            <a href="{{ path('caisse_index') }}" class="btn btn-success btn-lg">back to list</a><br><br>
            {{ include('caisse/_delete_form.html.twig') }}
        </div>
        <div class="col-md-2"></div>
    </div>

{% endblock %}
