<form method="post" action="{{ path('charge_delete', {'id': charge.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ charge.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
