{% extends 'base.html.twig' %}

{% block title %}Edit Charge{% endblock %}

{% block body %}
    <h1>Edit Charge</h1>

    {{ include('charge/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('charge_index') }}">back to list</a>

    {{ include('charge/_delete_form.html.twig') }}
{% endblock %}
