{% extends 'base.html.twig' %}

{% block title %}Charge index{% endblock %}

{% block body %}
    <h1>Charge index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ChargeNumOperation</th>
                <th>ChargeNature</th>
                <th>CahrgeDate</th>
                <th>ChargeEcheance</th>
                <th>ChargeLibelle</th>
                <th>ChargeMontant</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for charge in charges %}
            <tr>
                <td>{{ charge.id }}</td>
                <td>{{ charge.chargeNumOperation }}</td>
                <td>{{ charge.chargeNature }}</td>
                <td>{{ charge.cahrgeDate ? charge.cahrgeDate|date('Y-m-d') : '' }}</td>
                <td>{{ charge.chargeEcheance }}</td>
                <td>{{ charge.chargeLibelle }}</td>
                <td>{{ charge.chargeMontant }}</td>
                <td>
                    <a href="{{ path('charge_show', {'id': charge.id}) }}">show</a>
                    <a href="{{ path('charge_edit', {'id': charge.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('charge_new') }}">Create new</a>
{% endblock %}
