{% extends 'layout.html.twig' %}

{% block main %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Charges</h1>
        <p class="mb-4">Vous trouverez dans cette page la liste des charges.</p>

        <!-- Content Row -->
        <div class="row">


            <!-- Entrée -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Total Charge Fixe</div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">Ar {{ chargeFix[0] ["chargeFix"] }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-money-bill fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Sortie -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Total Charge Variable</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">Ar {{ chargeVariable[0] ["chargeVariable"] }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas   fa-money-bill-wave fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Content Row -->


        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Liste des charges</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>N° Opération</th>
                            <th>Nature</th>
                            <th>Date</th>
                            <th>Echéance</th>
                            <th>Libellé</th>
                            <th>Montant</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for charge in charges %}
                        <tr>
                            <td>{{ charge.id }}</td>
                            <td>{{ charge.chargeNature }}</td>
                            <td>{{ charge.cahrgeDate }}</td>
                            <td>{{ charge.chargeEcheance }}</td>
                            <td>{{ charge.chargeLibelle }}</td>
                            <td>{{ charge.chargeMontant }}</td>
                            <td><a href="{{ path('charge_delete', {'id': charge.id}) }}" class="fas fa-trash"></a></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <a href="{{ path('charge_new') }}" class="btn btn-success btn-icon-split">
            <span class="icon text-white-50">
            <i class="fas fa-plus-circle"></i>
            </span>
            <span class="text">Ajouter une charge</span>
        </a>
    </div>
    <!-- /.container-fluid -->

{% endblock %}
