{% extends 'base.html.twig' %}

{% block title %}Charge{% endblock %}

{% block body %}

    <div class="row bod">
        <div class="col-md-2"></div>
        <div class="col-md-8 cadre">
            <h1><center>Charge</center></h1>

            <table class="table">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ charge.id }}</td>
                </tr>
                <tr>
                    <th>N° Operation</th>
                    <td>{{ charge.chargeNumOperation }}</td>
                </tr>
                <tr>
                    <th>Nature</th>
                    <td>{{ charge.chargeNature }}</td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>{{ charge.cahrgeDate ? charge.cahrgeDate|date('Y-m-d') : '' }}</td>
                </tr>
                <tr>
                    <th>Echeance</th>
                    <td>{{ charge.chargeEcheance }}</td>
                </tr>
                <tr>
                    <th>Libelle</th>
                    <td>{{ charge.chargeLibelle }}</td>
                </tr>
                <tr>
                    <th>Montant</th>
                    <td>{{ charge.chargeMontant }}</td>
                </tr>
                </tbody>
            </table>

            <a href="{{ path('charge_index') }}" class="btn btn-success btn-bloc">back to list</a><br><br>
            {{ include('charge/_delete_form.html.twig') }}
        </div>
        <div class="col-md-2"></div>
    </div>

{% endblock %}
